/* Estilos globais */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #e6f7ff;
  color: #087ea4;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #144055 #087ea4;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #087ea4;
}
*::-webkit-scrollbar-thumb {
  background-color: #144055;
  border: 3px solid #087ea4;
  border-radius: 20px;
}
